*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body{
 font-family:'futura';
    box-sizing: border-box;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.navbar {
    display:flex;
    justify-content: center;
    position:sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
    list-style-type: none;
    margin:10px;
    padding:10px;
}
.navbar ul{
    display: flex;
    gap:20px;
    margin: 0;
    list-style: none;
}
.MainLanding{
    display:flex;
    padding:50px;
    gap:20px;
    margin:30px;
    align-items: center;
}
.Landingmaintext{
    margin:50px;
    font-size:30px;
}
#landingparagraph{
   font-size: 20px;
   margin:20px;
}
