body{
    margin: 0;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("assets/julius_cesars_empty_audience.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -2;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.65;
  z-index: -1;
}
nav{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    position: fixed;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.container{
    color: white;

    padding: 50px;
    display: flex;
    flex-direction: column;
}
.innerbox{
    display: flex;

    justify-content: space-around;
    margin-top: 60px;
}
.description{

    width: 500px;
}
.image{
    align-self: center;
}
img{
    width:300px;
}