*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family:Georgia, 'Times New Roman', Times, serif
}
img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid blue;
    margin-right: -60px;
    transition: all .4s ease;
}
.Image-cont{
    border: solid 1px;
    display: flex;
}
img:hover{
    transform: scale(2);
}
