*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body{
 font-family:'futura';
    box-sizing: border-box;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.navbar {
    display:flex;
    justify-content: center;
    position:sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
    list-style-type: none;
    margin:10px;
    padding:10px;
}
.navbar ul{
    display: flex;
    gap:20px;
    margin: 0;
    list-style: none;
}
.MainLanding{
    display:flex;
    padding:50px;
    gap:20px;
    margin:30px;
    align-items: center;
    height: 100vh;
}
.Landingmaintext{
    margin:50px;
    font-size:30px;
}
.MainLanding p{
   font-size: 20px;
   margin:20px;
}
.Cards{
  display:flex;
  flex-wrap: wrap;
  gap:30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:30px;
  margin:30px;
}
.Medieval{
    height: 300px;
    width: 300px;
    margin:40px;
}
.Renaissance{
    height: 300px;
    width: 300px;
    margin:40px;
}
.EarlyModern{
    height: 300px;
    width: 300px;
    margin:40px;
}
.Industrial{
    height: 300px;
    width: 300px;
    margin:40px;
}
.ModernEra{
    height: 300px;
    width: 300px;
    margin:40px;
}
.InformationAge{
    height: 300px;
    width: 300px;
    margin:40px;
}
.Ancient{
    height: 300px;
    width: 300px;
    margin:40px;
}
footer{
    text-align: center;
}
