:root{
   --base-clr: #11121a;
   --line-clr: #42434a;
   --hover-clr: #222533;
   --text-clr: #e6e6ef;
   --accent-clr:#5e63ff;
   --secondary-text-clr: #b0b3c1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family:'Work Sans';
    box-sizing: border-box;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:visible;
    color: var(--text-clr);
    background-color: var(--base-clr);
    display:grid;
    grid-template-columns:auto 1fr;
}
.Backgroundimg{
   background-image: url(./assets/Famous\ Faces\ Painting.jpg);
   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 0;
   margin:0;
   bottom: 0;
   z-index: -6;
   opacity: 0.2;
   filter:blur(6px);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
#sidebar{
    box-sizing: border-box;
    height:100vh;
    width:250px;
    padding: 5px 1em;

    border-right:1px solid var(--line-clr);
    position: sticky;
    top:0;
    align-self:start;
    transition: 300ms ease-in-out;
    overflow:hidden;
    text-wrap:nowrap;
}
#sidebar.close{
    padding:5px;
    width:60px;
}
#sidebar ul{
    list-style: none;
}
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom:16px;
    .logo{
        font-weight: 600;
    }
}
#sidebar ul li.active a {
    color: var(--accent-clr);
    svg{
        fill:var(--accent-clr);
    }
}
#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: 5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropdown-btn{
    width:100%;
    text-align:left;
    background:none;
    border: none;
    font: inherit;
    cursor: pointer;
}
#sidebar svg{
    flex-shrink:0;
    fill: var(--text-clr);
}
#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: var(--hover-clr);
}
#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
  > div{
    overflow: hidden;
  }
}
#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}
.dropdown-btn svg{
    transition: 200ms ease;
}
.rotate svg:last-child{
    rotate:180deg;
}
#sidebar .sub-menu a{
    padding-left: 2em;
}
#toggle-btn{
    margin-left:auto;
    padding:1em;
    border:none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg{
        transition:rotate 150ms ease;
    }
}
#toggle-btn:hover{
   background-color: var(--hover-clr);
}
.navb {
    display:flex;
    justify-content: center;
    position:sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
    list-style-type: none;
    margin:10px;
    padding:10px;
}
.navb ul{
    display: flex;
    gap:20px;
    margin: 0;
    list-style: none;
}
.navb a{
    text-decoration: none;
    color:white;
}
.stroke{
  -webkit-text-stroke: 2px goldenrod;
  color: transparent;
}
.scroll-icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  animation: slowJump 2s ease-in-out infinite;
  transition: opacity 0.3s ease;
}
.scroll-icon:hover {
  opacity: 1;
  cursor: pointer;
}
.scroll-icon img{
  height: 10px;
}
@keyframes slowJump {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-25px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
.MainLanding{
    display:flex;
    padding:80px;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.Landingpic img {
  width: 100%;
  height: auto;
  display: block;
}
.Landingpic{
     flex: 0 0 auto;  /* pic stays the same, doesnt shrink doesnt enlarge */
}
.Landing-main-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* border: 2px solid white; */
    padding: 30px;

    gap: 40px;
}
.head-quote{
    font-size: 50px;
    /* border: 2px solid white; */
    max-width: 75%;
}
.Landing-paragraph{
    max-width: 60%;
    line-height: 40px;
    /* border: 2px solid white; */
    font-size: 22px;
}
.Cards{
  display:flex;
  flex-wrap: wrap;
  gap:30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:30px;
  margin:40px;
}
.Class-bottom{
    display:flex;
    width:100%;
    justify-content: space-between;
}
.Class-bottom a{
    color:white;
}
.Class-bottom a:hover{
    color:black;
}
.Medieval{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.Medieval:hover{
    color:black;
    background-color: white;
    transform: scale(1.3);
    transform: rotate(-3deg);
    transition-duration: 0.5s;
}
.Renaissance{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}

.Renaissance:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(3deg);
    transition-duration: 0.5s;
}
.EarlyModern{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.EarlyModern:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(-3deg);
    transition-duration: 0.5s;
}
.Industrial{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.Industrial:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(3deg);
    transition-duration: 0.5s;
}
.ModernEra{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.ModernEra:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(-3deg);
    transition-duration: 0.5s;
}
.InformationAge{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.InformationAge:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(3deg);
    transition-duration: 0.5s;
}
.Ancient{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.Ancient:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(3deg);
    transition-duration: 0.5s;
}
.Cards h4{
    text-align: start;
    margin-bottom:30px;
}
.Cards h2{
    margin:30px;
    text-align: center;
}
.Cards p{
    margin: 20px;
}
.Cards h5{
    margin:30px;
}
.Feedheader{
    text-align: center;
    margin:30px;
    padding:20px;
}
footer{
    text-align: center;
}
