*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body{
 font-family:'futura';
    box-sizing: border-box;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
h1{
    text-align: center;
}

.navbar {
    display:flex;
    justify-content: center;
    position:sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
    list-style-type: none;
    margin:10px;
    padding:10px;
}
.navbar ul{
    display: flex;
    gap:20px;
    margin: 0;
    list-style: none;
}
.container{
    padding: 100px;
    /* margin: 40px; */
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
}

.main{
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}

.inner{
    /* border: 2px solid red; */
    width: 50%;
    padding: 50px;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
}

a{
    text-decoration: none;
}
a:hover{
    color: teal;
}
img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    /* border: 1px solid blue; */
    margin-right: -60px;
    transition: all .4s ease;
}
.Landing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:30px;
    padding:20px;
    border:1px solid red;
    text-align: center;
}
.Cent{
    display: flex;
    justify-content: center;
    height:auto;
}
.Image-cont{
    padding: 20px;
    padding-left: 0;
    /* border: 6px solid green; */
    display: flex;
}
.images:hover{
    transform: scale(2);
}

.lonely{
    display: flex;
    border: 2px solid;
    justify-content: space-evenly;
    flex-direction: column;
}
.Cent:hover{
    transform: scale()
}
#contentimages{
    width: 400px;
    height: 400px;
}
.cleo2nd{
    width:400px;
    height:900px;
}
