*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family:'Work Sans';
    box-sizing: border-box;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:visible;
     color: white;
    background: black
}
.Backgroundimg{
   background-image: url(./assets/Famous\ Faces\ Painting.jpg);
   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 0;
   margin:0;
   bottom: 0;
   z-index: -6;
   opacity: 0.2;
   filter:blur(6px);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.navbar {
    display:flex;
    justify-content: center;
    position:sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
    list-style-type: none;
    margin:10px;
    padding:10px;
}
.navbar ul{
    display: flex;
    gap:20px;
    margin: 0;
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color:white;
}
.scroll-icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  animation: slowJump 2s ease-in-out infinite;
  transition: opacity 0.3s ease;
}
.scroll-icon:hover {
  opacity: 1;
  cursor: pointer;
}
.scroll-icon img{
  height: 10px;
}
@keyframes slowJump {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-25px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
.MainLanding{
    display:flex;
    padding:50px;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.Landingpic img {
  width: 100%;
  height: auto;
  display: block;
}
.Landingpic{
     flex: 0 0 auto;  /* pic stays the same, doesnt shrink doesnt enlarge */
}
.Landingmaintext{
    margin:50px;
    font-size:30px;
    min-width: 0;
}
.MainLanding p{
   font-size: 20px;
   margin:20px;
}
.Cards{
  display:flex;
  flex-wrap: wrap;
  gap:30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:30px;
  margin:40px;
}
.Class-bottom{
    display:flex;
    width:100%;
    justify-content: space-between;
}
.Medieval{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.Medieval:hover{
    color:black;
    background-color: white;
    transform: scale(1.3);
    transform: rotate(-3deg);
    transition-duration: 0.5s;
}
.Renaissance{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}

.Renaissance:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(3deg);
    transition-duration: 0.5s;
}
.EarlyModern{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.EarlyModern:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(-3deg);
    transition-duration: 0.5s;
}
.Industrial{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.Industrial:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(3deg);
    transition-duration: 0.5s;
}
.ModernEra{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.ModernEra:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(-3deg);
    transition-duration: 0.5s;
}
.InformationAge{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.InformationAge:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(3deg);
    transition-duration: 0.5s;
}
.Ancient{
    height: auto;
    width: 350px;
    margin:20px;
    padding:30px;
    background: rgb(37, 37, 37);
}
.Ancient:hover{
    color:black;
    background-color: white;
    transform: scale(1.1);
    transform: rotate(3deg);
    transition-duration: 0.5s;
}
.Cards h4{
    text-align: start;
    margin-bottom:30px;
}
.Cards h2{
    margin:30px;
    text-align: center;
}
.Cards p{
    margin: 20px;
}
.Cards h5{
    margin:30px;
}
footer{
    text-align: center;
}
